# Loops

For loop
It is used to iterate over a sequence (like a list, tuple, or string ) or other iterable objects. Iterating over a sequence means going through each element one by one

# For loop

In [3]:
toman={"micky":"leader","ken-chin":"president","baji":"1st-devvision","age":[15,19,18,17]}
for toman in toman:
  print(toman)

micky
ken-chin
baji
age

In [4]:
toman=("micky","ken-chin","baji","takemitchy")
for toman in toman:
  print(toman)

micky
ken-chin
baji
takemitchy

In [5]:
for x in range(20):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for Characters in "Toman":
  print(Characters)

T
o
m
a
n

In [7]:
#print square of all numbers in a list
x=[1,2,3,4,5]
y=0
for x in x:
  y+=x
print("Sum of  no's square is",y**2)

Sum of  no's square is 225

In [8]:
# Print square root of the list
x=[11,22,33,44,55]
for x in x:
    print("Square of no ",x," is", x**2)

Square of no  11  is 121
Square of no  22  is 484
Square of no  33  is 1089
Square of no  44  is 1936
Square of no  55  is 3025

In [9]:
x=20
for x in range(0,10):
  if x%2==0:
    print("Awesome buddy",x+5)
  elif x%3==0:
    print("Good luck",x+2)
  else:
    print("Nothing",x+5,)

Awesome buddy 5
Nothing 6
Awesome buddy 7
Good luck 5
Awesome buddy 9
Nothing 10
Awesome buddy 11
Nothing 12
Awesome buddy 13
Good luck 11

In [10]:
x=[4535,67,43534]
y=0
z=''
for z in x:
  y=x.sort( reverse= True)
  y=z
  if y<z:
    pass
print("the no is " ,y)

the no is  67

In [11]:
X=[1,2,3,12,4,5,6,7,20,8,9,10]
max=X[0]
for x in X:
  if x>max:
    max=x
print(max)

20

In [12]:
x=[233,334,32,23432,3423,3,4,3432]
c=x[0]
for i in x:
  if i>c:
    c=i
print(c)

23432

In [13]:
#Position of the number
x=[1,323,4534,234,453,5546,46,43,6,3,4,123,]
z=5546
m=0
for y in x:
 if (y==z):
   print("Jo number hai na vo hai", m,"position mai")
 m+=1

Jo number hai na vo hai 5 position mai

In [15]:
# print program to sum of all the numbers from 1 to any number
n= int(input("enter a number"))
x=0
for i in range(1,n+1):
  x+=i
print(x)

enter a number 3

6

In [16]:
#Print multiplication table of any number
n= int(input("enter a number "))
for x in range(1,11):
  print("table of ", n, "is ", n,"x",x,"=",n*x)
  x+=1

enter a number  12

table of  12 is  12 x 1 = 12
table of  12 is  12 x 2 = 24
table of  12 is  12 x 3 = 36
table of  12 is  12 x 4 = 48
table of  12 is  12 x 5 = 60
table of  12 is  12 x 6 = 72
table of  12 is  12 x 7 = 84
table of  12 is  12 x 8 = 96
table of  12 is  12 x 9 = 108
table of  12 is  12 x 10 = 120

In [17]:
#Count no of digits in a number
x=324324324
x= str(x)
count=0
for i in x:
  count+=1
print(count) #we cannot iterate over an iteger means we cannot perform any for loop function on that,we have to convert integer to string

9

In [18]:
#print palindorme
x = '113311'
z = ''
for i in x:
  z = i + z
if(x == z ):
     print("yhi hai ",x," palindrome")
else:
     print("ye nhi hai ",x," palindrome")

yhi hai  113311  palindrome

In [40]:
#print all even no between 1to 50 & odd also

In [46]:
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [48]:
for i in range(1,51):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [73]:
n= int(input("enter a number"))
x=0
for i in range(1,n+1):
    if i%2==0:
        x+=i
print(x)

enter a number 51

650

In [93]:
#count a vowel through a string
x="naman Singh chauhan"
y="aeiou"
z=0
for i in x:
    if i in y:
        z=z+1
print(z)

6

In [95]:
x=["a","e","i","o","u"]
y="naman singh chauhan"
z=0
for i in x:
    if i in y:
        z=z+1
print(z)

3

In [99]:
x=["a","e","i","o","u"]
y="naman singh chauhan"
z=0
for i in x:
    if i in y:
       print(z)
       z=z+1

0
1
2

In [111]:
#print no divisile by 3and 5 from 1 to 50
for i in range(1,51):
    if i%3==0 and i%5==0:
        print(i)

15
30
45

In [115]:
x=[10,20,30,40,50,60,70,80,90,100]
y=0
z=''
for z in x:
  y=x.sort()
  y=z
  if y<z:
    pass
print("the no is " ,y)

the no is  100

In [127]:
for z in range(10,0,-1):
    print(z)

10
9
8
7
6
5
4
3
2
1

# While loop

In [2]:
i=0
while i<5:
    i+=1
    if i==2:
        continue
    print(i)

1
3
4
5

In [4]:
x=0
while x<20:
    x+=2
    print(x)

2
4
6
8
10
12
14
16
18
20

In [6]:
x=0
y=1
while y<10:
    x+=y
    y+=1
print(x)

45

In [8]:
for i in range(6):
    print("*"*i)

*
**
***
****
*****

In [38]:
x=0
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [10]:
x=("*")
i=0
while i<6:
    print(x*i)
    i+=1

*
**
***
****
*****

In [12]:
#print sum of no 1-100 using while loop
z=1
x=101
y=0
while z<x:
  y=y+z
  z=z+1
print(y)

5050

In [14]:
#2nd. Calculate the sum of digits in a number
n= 1234 
sum = 0
while (n != 0):
    n = n//10 
    sum = sum +1+ (n % 10)
print(sum)

10

In [16]:
# Print even number using while loop
x=1
while x<11:
    if x%2==0:
        print(x)
    x+=1

2
4
6
8
10

In [18]:
#reverse a no using while loop
x = 6789
reverse = 0
while x!=0:
    digit = x % 10
    reverse = reverse * 10 + digit
    x //= 10
print(reverse)

9876

In [20]:
#find the largest no in a list
x=[12,76,79]
y=x[0]
i=1
while i<len(x):
    if x[i]>y:
        y=x[i]
    i+=1
print(y)

79

In [22]:
#find the smallest no in a list
x=[12,76,79]
y=x[0]
i=0
while i<len(x):
    if x[i]<y:
        y=x[i]
    i+=1
print(y)

12